Options -Indexes
<IfModule mod_headers.c>
Header set X-XSS-Protection "1; mode=block"
Header always append X-Frame-Options SAMEORIGIN
Header set X-Content-Type-Options nosniff
Header set Strict-Transport-Security "max-age=31536000; includeSubDomains" env=HTTPS
Header set Content-Security-Policy "default-src 'self'; script-src 'self' 'unsafe-inline' 'unsafe-eval';script-src-elem 'self' 'unsafe-inline' 'unsafe-eval'; object-src 'none'; style-src 'self' 'unsafe-inline'"
Header always append X-Frame-Options SAMEORIGIN
# RewriteCond %{HTTP_USER_AGENT} (Wappalyzer|BuiltWith|WhatRuns) [NC]
# RewriteRule .* - [F,L]
</IfModule>