/*+**********************************************************************************
* The content of this file is subject to the ITS4YouKanbanView license.
* ("License"); You may not use this file except in compliance with the License
* The Initial Developer of the Original Code is IT-Solutions4You s.r.o.
* Portions created by IT-Solutions4You s.r.o. are Copyright(C) IT-Solutions4You s.r.o.
* All Rights Reserved.
*************************************************************************************/

body {
    background-color: #f9f9f9;
}
#taskManagementContainer {
    display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox; /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Chrome */
    display: flex;
    /*padding-top: 20px;*/
}

@media only screen and (max-width: 991px) {
    #taskManagementContainer {
        padding-top: 60px;
    }
}

.kanban-view #taskManagementContainer .contentsBlock {
    margin-bottom: 25px;
    border: 1px solid var(--border-light-color-2);
    border-radius: 10px;
    padding: 15px;
}

#taskManagementContainer .title {
    width: 100%;
    padding: 5px 0 5px 0px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #000;
    font-size: 15px;
    font-weight: 600;
    display: flex;
    align-items: center;
}
#taskManagementContainer .title span {
    background-color: var(--primary-color);
    padding: 10px;
    margin-right: 10px;
    border-radius: 50px;
    width: 30px;
    height: 30px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: var(--white-color);
    font-size: 13px;
}
#taskManagementContainer .title p{
    margin-bottom: 0px;
}
.main-container .content-area.kanban-view .main-container {
    top: 10px;
}
.kanban-inner .record-header .recordBasicInfo h4 {
    margin: 0;
    font-size: 21px;
    padding-bottom: 10px;
}
.kanban-inner .record-header .recordBasicInfo span.potentialname {
    font-size: 18px;
    font-weight: 600;
}
#taskManagementContainer .kanban-inner .other-details {
    color: #979797;
    padding: 10px 0px;
    border-top: 1px solid var(--border-light-color-2);
    margin-top: 15px;
}

#taskManagementContainer .entries .task-details .recordName {
    display: inline-block;
    max-width: 100%;
}

.record-header .recordBasicInfo {
    float: left;
    display: inline-block;
    padding-left: 90px;
    width: 100%;
}

.detailview-header-block {
    background: white;
    padding: 15px 0px;
}
.contentsBlockContainer {
    display: flex;
    white-space: nowrap !important;
    gap: 15px;
}
.kanban-inner{
    overflow: auto;
}
.kanban-wrapper .quickFilter input#s2id_autogen1 {
    width: auto !important;
}
#taskManagementContainer .kanban-inner .entries .task {
    border-left: 4px solid var(--btn-primary-bg);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
.contentsBlock {
    position: relative;
    background: #f5f5f5;
    display: flex;
    min-width: 300px;
    /* margin-right: 15px; */
    flex-direction: column;    
}
.contentsBlock .container-fluid {
    min-height: 40vh;
    padding: 0;
}
.contentsBlock .entries {
    background: #fff;
}
.contentsBlock .entries .task {
    background: #fff;
}
.contentsBlock .header {
    margin-bottom: 20px;
    margin-top: -38px;
    border: 1px solid var(--border-light-color);
    padding: 6px 10px;
    background-color: var(--color-subsidebar-bg-hover);
    border-radius: 10px;
}

.contentsBlock .content {
    min-height: 300px;
}
.modules-menu ul li.active a {
    border-color: #000;
}
.module-nav .sidebar-menu {
    left: 0;
    width: 100%;
}
.main-container .sidebar-essentials {
    border-right: 0;
}
.assignedUserImage {
    border-radius: 50%;
}
.quickFilter span {
    color: #000;
    padding: 6px 12px;
}
.quickFilter a:hover, .selectedFilter {
    border-radius: 2px;
    box-shadow: 0 0 5px #90989c;
}
.readonly_1 .entries, .readonly_1 .entries * {
    cursor: not-allowed;
}